app-modal {
    display: none;
}

app-modal .my-modal {
    position: fixed;
    inset: 0;
    z-index: 10000;
    background-color: rgba(0,0,0,0.5);
    padding: 100px 200px;
    overflow: auto;
}

body.my-modal-open {
    overflow: hidden;
}

@media (max-width: 800px) {
  app-modal .my-modal {
    padding: 100px 0;
  }
}
