<div class="card">
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Заголовок:</label>
        <input id="title" type="text" formControlName="title" class="form-control">
      </div>
      <div class="form-group" formGroupName="topic">
        <label for="id">Тема:</label>
        <select class="form-select" formControlName="id">
          <option *ngFor="let topic of articleTopics | async | keyvalue" [ngValue]="topic.key">{{topic.value}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="content">Текст:</label>
        <textarea id="content" formControlName="content" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="usefulLinks">Полезные ссылки:</label>
        <input id="usefulLinks" type="text" formControlName="usefulLinks" class="form-control">
      </div>
      <div class="form-group" formGroupName="test">
        <label for="id">Тест:</label>
        <select class="form-select" formControlName="id">
          <option [ngValue]="null">-</option>
          <option *ngFor="let test of tests | async | keyvalue" [ngValue]="test.key">{{test.value}}</option>
        </select>
      </div>
      <div class="form-group text-end mt-3">
        <button routerLink="/articles" type="button" class="btn btn-danger mr-auto">Отмена</button>
        <button type="submit" [disabled]="!form.valid" class="btn btn-success">OK</button>
      </div>
    </form>
  </div>
</div>