<div class="col-11">
  <h2>Список статей</h2>
  <div>
    <div class="card mb-4" *ngFor="let article of articles">
      <div class="card-body">
        <h3 class="card-title">{{ article.title }}</h3>
        <h4 class="h5 card-subtitle mb-2 text-muted">{{ article.topic.name }}</h4>
        <app-text-read-more [text]="article.content" [charLimit]="300" class="card-text article-content"></app-text-read-more>
        <p class="mt-3">Прикреплен тест?
          <i class="fas fa-check" *ngIf="article.testId"></i>
          <i class="fas fa-times" *ngIf="!article.testId"></i>
        </p>
        <p class="mt-3 text-end">Дата создания: {{ article.createdAt | date:'d-MM-y' }}</p>
        <div class="d-flex justify-content-end">
          <button [routerLink]="['edit', article.id]" class="btn btn-info me-2">
            <i class="fas fa-pen"></i>
          </button>
          <button class="btn btn-danger" (click)="onDelete(article)">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="articles" class="d-flex flex-row-reverse">
      <pagination
        [currentPage]="currentPage + 1"
        [limit]="showLimit"
        [total]="totalElements"
        (changePage)="changePage($event)">
      </pagination>
    </div>
  </div>
  <button routerLink="create" type="submit" class="btn add-button article-list__add-article-button">Добавить статью</button>
</div>
