:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: #009d63;
}

.second-text {
  color: #bbbec5
}

.primary-bg {
  background-color: #009d63;
}

.secondary-bg {
  background-color: #c1efde;
}

#wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  overflow-y: hidden;
  background-image: linear-gradient(to right, #baf3d7, #c2f5de, #cbf7e4, #d4f8ea, #ddfaef);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#sidebar-wrapper {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper.opened {
  margin-left: -250px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 0;
  font-size: 1.2rem;
  font-family: 'Muller';
}

#page-content-wrapper {
  width: 175%;
} */

#page-content-wrapper {
  width: 100%;
  min-height: 100vh;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
  font-family: 'Muller'
}

.list-group-item.active {
  background-color: transparent;
  color: #009d63;
  font-weight: bold;
  border: none;
}

#alerts {
  position: fixed; 
  bottom: 0; 
  right: 1%; 
  width: 20%;
  z-index: 9999;
}

@media (max-width: 768px) {
  #sidebar-wrapper {
      margin-left: -250px;
  }
  #sidebar-wrapper.opened {
      margin-left: 0;
  }
}