:root {
  --main-bg-color: #009d63;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: #009d63;
}

.second-text {
  color: #bbbec5
}

.primary-bg {
  background-color: #009d63;
}

.secondary-bg {
  background-color: #c1efde;
}

.body {
  overflow-y: hidden;
}

#wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  overflow-y: hidden;
  background: url("../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

#sidebar-wrapper {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper.opened {
  margin-left: -250px;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 0;
  font-size: 1.2rem;
  font-family: 'Muller';
}

#page-content-wrapper {
  width: 100%;
  min-height: 100vh;
}

.list-group-item {
  border: none;
  font-family: 'Muller'
}

#alerts {
  position: fixed;
  bottom: 0;
  right: 1%;
  width: 20%;
  z-index: 9999;
}

@media (max-width: 768px) {
  #sidebar-wrapper {
    margin-left: -250px;
  }

  #sidebar-wrapper.opened {
    margin-left: 0;
  }
}

.header {
  background: linear-gradient(90deg, #459C2B 0%, #91C15E 99.36%);
  mix-blend-mode: normal;
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: 0 80px;
}

.header__logo {
  position: absolute;
  left: 70px;
  height: 40px;
}

.header__title {
  margin: 0 auto;
  padding: 0;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
}

.main__buttons-statistics {
  background: #ffba80;
  mix-blend-mode: normal;
  border-radius: 50px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 7px;
  width: inherit;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
}

.main__buttons-articles {
  background: #B9F677;
  mix-blend-mode: normal;
  border-radius: 50px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 7px;
  width: inherit;
  margin-bottom: 20px;
  transition: background-color 0.3s ease-in-out;
}

.main__buttons-articles:hover {
  background-color: #66C400;
}

.list-group-item.active .main__buttons-articles {
  background-color: #66C400;
  color: white;
}

.main__buttons-statistics:hover {
  background-color: #FF7500;
}

.list-group-item.active .main__buttons-statistics {
  background-color: #FF7500;
  color: white;
}

.main__buttons-tests {
  background: #80d589;
  mix-blend-mode: normal;
  border-radius: 50px;
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding: 7px;
  width: inherit;
  transition: background-color 0.3s ease-in-out;
}

.main__buttons-tests:hover {
  background-color: #00AA13;
}


.list-group-item.active .main__buttons-tests {
  background-color: #00AA13;
  color: white;
}

.burger {
  margin-top: 27px;
  margin-left: 24px;
  width: 30px;
  height: 30px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: black;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
}

.burger span:nth-child(2) {
  top: 10px;
}

.burger span:nth-child(3) {
  top: 20px;
}

.burger.open span:nth-child(1) {
  top: 13px;
  transform: rotate(135deg);
}

.burger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.burger.open span:nth-child(3) {
  top: 13px;
  transform: rotate(-135deg);
}

@media (max-width: 700px) {
  .header__title {
    display: none;
  }
}

@media (max-width: 700px) {
  .header__logo {
    width: 100px;
    position: initial;
  }

  .main__buttons {
    padding: 5px;
    font-size: 20px;
  }

  #sidebar-wrapper.opened {
    min-width: -webkit-fill-available;
  }

  .burger {
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    top: 27px;
    left: 20px;
    border: none;
  }

  #alerts {
    width: 50%;
  }
}