<div class="d-flex" id="wrapper">
  <div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom">
      <i class="fas fa-robot me-2"></i>{{title}}
    </div>
    <div class="list-group list-group-flush my-3">
      <a routerLink="/statistics" routerLinkActive="active" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-chart-line me-2"></i>Статистика
      </a>
      <a routerLink="/articles" routerLinkActive="active" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-newspaper me-2"></i>Статьи
      </a>
      <a routerLink="/tests" routerLinkActive="active" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
        <i class="fas fa-note-sticky me-2"></i>Тесты
      </a>
      <!-- <a routerLink="/tests" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
        <i class="fas fa-project-diagram me-2"></i>Выйти
      </a> -->
    </div>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid px-4 my-5">
      <router-outlet></router-outlet>
      <app-alert id="alerts"></app-alert>
    </div>
  </div>
</div>